@import "tailwindcss";
@import "./assets/styles/Header.css";
@import "./assets/styles/ProductGallery.css";
@import "./assets/styles/Cart.css";
@import "./assets/styles/ProductItem.css";
@import "./assets/styles/ProductDetails.css";
@import "./assets/styles/ProductAttributes.css";
@import "./assets/styles/Loader.css";
@import "./assets/styles/NotFound.css";

.app-wrapper {
  @apply min-h-screen bg-white;
}

.app-main {
  @apply relative max-w-full mx-auto p-6 min-h-[calc(100vh-64px)] z-10;
}

.app-main-overlay::before {
  content: "";
  @apply absolute inset-0 pointer-events-auto z-10;
  background-color: rgba(107, 114, 128, 0.5);
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
}

::-webkit-scrollbar-thumb {
  background-color: #10b981;
  border-radius: 8px;
  border: 2px solid #f3f4f6;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #059669;
}